@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand_font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .raleway_font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

:root{
    --primary-orange:rgb(254, 163, 1);
    --primary-sky:rgb(1, 172, 253);
    --primary-pest:rgb(5, 212, 223);
    --primary-violet:rgb(93, 88, 239);
    --primary-bg-orange:rgb(254, 163, 1);
    --primary-bg-lite:rgb(149, 178, 38);
    --primary-white:white;
    --primary-black:black;
}

.display-flex{
    display: flex;
}


/* navigation style here */
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 60px;
    height: 60px;
}
.logo_title{
    font-size: 1.5rem;
    font-weight: 700;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.nav_menu{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.home{
    color: var(--primary-orange);
}
.about{
    color: var(--primary-sky);
}
.facilities{
    color: var(--primary-pest);
}
.admission{
    color: var(--primary-violet);
}

.nav_btn{
    border-radius: 10px;
    color:var(--primary-white);
    background-color: var(--primary-bg-orange);
    border: none;
    height: 30px;
    width: 120px;
}
.menu_bar{
    display: none;
    font-size: 2rem;
}


/* header section style here */
header{
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px dashed rgb(116, 115, 115);
}

.header_section{
    display: flex;
    justify-content:space-between;
    align-items: center;
  

}
.header_container{
    width: 500px;

}
.header_title{
    margin: 0px;
    font-size: 3rem;
    font-weight: 700;
    
}
.title_orange{
    color: var(--primary-orange);
}
.title_sky{
    color: var(--primary-sky);
}
.header_description{
    color: rgb(17, 17, 17);
    font-size: 1rem;
    font-weight: 400;
    
}
.header_btn{
    border-radius: 10px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    border: none;
    height: 30px;
    width: 120px;
    text-align: center;
}


/* main section style here */
/* card style start */
main{
    width: 80%;
    margin: 0 auto;
    background:url(../assets/bg.png);
}

.card_info{
    font-size:2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 40px 0px 60px 0px;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.card_title{
    color: rgb(32, 32, 32);
    font-size: 1.6rem;
    font-weight: 700;
    margin: 10px 0px;
    line-height: 40px;
}
.card_details{
    color: rgb(128, 128, 128);
    font-family: "Raleway", serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
}
.card_1{
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: relative;
    width: 367.8px;
    height: 476.78px;

    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_2{
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: relative;
    width: 367.8px;
    height: 481.5px;

    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_3{
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    width: 367.8px;
    height: 476.78px;

    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_btn_1{
    color:var(--primary-sky);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

    
}
.card_btn_2{
    color:var(--primary-orange);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

}
.card_btn_3{
    color:var(--primary-violet);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

}


/* story section style */











/* media query style */
/* for header section */
@media screen and (max-width: 576px) { 
    .logo_title {
         display: none;
         } 
    .nav_menu,.nav-btn-div {
         display: none; 
         flex-direction: column; 
        } 
    .menu_bar{
         display: inline-block; 
    }
    .nav_container{
        border-bottom: 1.5px solid var(--primary-orange);
        padding-bottom: 10px;
        text-align: center;
        
    }
    .header_section{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 0px 20px;
        gap: 20px;
    }
    .header{
        border-bottom: none;
    }
    .header_section img{
        width: 100%;
    }
    .header_container{
       width:300px;
    }
    .header_title{
        font-size: 2rem;
    }
    .header_description{
        font-size: 0.8rem;
    }
}