@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand_font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .raleway_font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

:root{
    --primary-orange:rgb(254, 163, 1);
    --primary-sky:rgb(1, 172, 253);
    --primary-pest:rgb(5, 212, 223);
    --primary-violet:rgb(93, 88, 239);
    --primary-bg-orange:rgb(254, 163, 1);
    --primary-bg-lite:rgb(149, 178, 38);
    --primary-white:white;
    --primary-black:black;
}
*{
    margin: 0;
}
body {
    background-color: rgb(247, 247, 247);
  }

.display-flex{
    display: flex;
}


/* marquee style is here */
marquee {
    background-color:var(--primary-sky);
    color:var(--primary-white);
    font-size:1.3rem;
    font-weight: bold;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
/* navigation style here */
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 60px;
    height: 60px;
}
.logo_title{
    font-size: 1.5rem;
    font-weight: 700;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.nav_menu{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.home{
    color: var(--primary-orange);
}
.about{
    color: var(--primary-sky);
}
.facilities{
    color: var(--primary-pest);
}
.admission{
    color: var(--primary-violet);
}

.nav_btn{
    border-radius: 10px;
    color:var(--primary-white);
    background-color: var(--primary-bg-orange);
    border: none;
    height: 30px;
    width: 120px;
}
.menu_bar{
    display: none;
    font-size: 2rem;
}


/* header section style here */
header{
    max-width:1440px;
    margin: 0 auto;
    border-bottom: 2px dashed rgb(116, 115, 115);
}

.header_section{
    display: flex;
    justify-content:space-between;
    align-items: center;
  

}
.header_container{
    width: 500px;

}
.header_title{
    margin: 0px;
    font-size: 3rem;
    font-weight: 700;
    
}
.title_orange{
    color: var(--primary-orange);
}
.title_sky{
    color: var(--primary-sky);
}
.header_description{
    color: rgb(17, 17, 17);
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 0px;
    
}
.header_btn{
    border-radius: 10px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    border: none;
    height: 30px;
    width: 120px;
    text-align: center;
}


/* main section style here */
/* card style start */
main{
    max-width:1440px;
    margin: 0 auto;
    background:url(../assets/bg.png);
}

.card_info{
    font-size:2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 40px 0px 60px 0px;
}

.card_container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 27px;
    

}

.card_title{
    color: rgb(32, 32, 32);
    font-size: 1.6rem;
    font-weight: 700;
    margin: 10px 0px;
    line-height: 40px;
}
.card_details{
    color: rgb(128, 128, 128);
    font-family: "Raleway", serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
}
.card_1{
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: relative;
    width: 367.8px;
    height: 476.78px;

    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_2{
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: relative;
    width: 367.8px;
    height: 481.5px;

    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_3{
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    width: 367.8px;
    height: 476.78px;

    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card_btn_1{
    color:var(--primary-sky);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

    
}
.card_btn_2{
    color:var(--primary-orange);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

}
.card_btn_3{
    color:var(--primary-violet);
    font-size: 0.9rem;
    font-weight: 700;
    line-height:40px;

}

.btn_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 80px 0px 60px 0px;
    padding-bottom: 60px;
    border-bottom: 2px dashed rgb(116, 115, 115);  

}
.cir_1{
    width: 70px;
    height: 70px;
    background-color: var(--primary-orange);
    color: var(--primary-white);
    border-radius: 50%;
    border: none;
    font-size:2rem;
    font-weight: 400;
}
.cir_2{
    width: 70px;
    height: 70px;
    background-color: var(--primary-orange);
    color: var(--primary-white);
    border-radius: 50%;
    border: none;
    font-size:2rem;
    font-weight: 400;

}


/* story section style */


.stories-section{
    height: 850px;
    background: url("../assets/bg.png"),
      linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  }
  
  .full-stories {
    max-width: 1160px;
    margin: 0 auto;
  }
  
  .stories-heading {
    justify-content: center;
    align-items: center;
    margin:20px 0px 50px 0px;
  }
  
  .stories-heading >h3 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .stories-container {
    gap:22px;
  }
  
  /* Full story style */
  .full-story {
    max-width: 540px;
    max-height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }
  
  .full-story>img,.short-story>img {
    border-radius: 16px 16px 0px 0px;
  }
  
  .full-story>div,.short-story>div {
    padding: 30px;
  }
  .full-story>div {
    margin-top: -60px;
  }
  
  .full_S_description{
    color: rgb(102, 102, 102);
    font-size: 1rem;
    font-weight: 500;
  }

  /* Short story style */
  .short-story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .short-story>div {
    margin-top: -60px;
  }
  
  .short-story {
    max-width: 290px;
    max-height: 305px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }
  
  .story_title{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
 
  
 .stories-heading {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
  }
  
 
  .btn-story {
    width: 170px;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    border-radius: 47px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
  }
  .story_1{
    background-color: var(--primary-violet);
  }
  
  .story_2{
    background-color: var(--primary-orange);
  }
  
  .story_3{
    background-color: var(--primary-sky);
  }
  
  

  
  .view_all{
    justify-content: center;
    align-items: center;
    margin:50px 0px 60px 0px;
  }
  
  .view_bttn {
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
  }
  

  /* footer related styles */
  
  .footer {
    max-width:1440px;
    margin: 0 auto;
    height: 519px;
    background: rgb(1, 172, 253);
    align-items: center;
  }
  
  .footer-container {
    max-width: 1070px;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .kids,.footer-nav {
    margin-right: 175px;
  }
  
  .kids-logo {
    align-items: center;
    margin-bottom: 35px;
  }
  
  .kids-logo img {
    width: 83px;
    height: 82px;
    margin-right: 10px;
  }
  
  .kids-title {
    color: rgb(255, 255, 255);
    width: 206.11px;
    height: 80px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  
  .kids-des {
    width: 400px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .footer-nav h5 {
    width: 156px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .footer-nav li {
    list-style: none;
    text-align: start;
    margin: 0 0 25px -40px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
  }
  
  .footer-touch h5 {
    width: 225px;
    color: rgb(255, 255, 255);
    font-size: 1.62rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .footer-touch img {
    margin-right: 10px;
    margin-top: 10px;
  }
  

/* .story_section_container{
    width: 80%;
    margin: 0 auto;
}
.stories_section{
    background: url("../assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.story_titles{
    font-size:2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 40px 0px 60px 0px;
}
.stories_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}
.stories_container_1{
    display: flex;
}
.stories_container_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.full_story{
    max-width: 540px;
    max-height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.full-story div,.short-story div {
  padding: 30px;
}
.short_story{
    max-width: 290px;
    max-height: 305px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.full_story,.short-story img {
    border-radius: 16px 16px 0px 0px;
  }
.story_1{
 
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.story_2{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    
}


 */





/* media query style */
/* for header section */
@media screen and (max-width: 576px) { 
    .logo_title {
         display: none;
         } 
    .nav_menu,.nav-btn-div {
         display: none; 
         flex-direction: column; 
        } 
    .menu_bar{
         display: inline-block; 
    }
    .nav_container{
        border-bottom: 1.5px solid var(--primary-orange);
        padding-bottom: 10px;
        text-align: center;
        
    }
    .header_section{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 0px 20px;
        gap: 20px;
    }
    .header{
        border-bottom: none;
    }
    .header_section img{
        width: 100%;
    }
    .header_container{
       width:300px;
    }
    .header_title{
        font-size: 2rem;
    }
    .header_description{
        font-size: 0.8rem;
    }
}